body {
  background: url(images/Background.png) no-repeat scroll center center;
  margin: 0 auto;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  contain: content;
  background-size: cover;
}

.menu {
  color: #fff;
  margin: auto;
  max-width: 1440px;
  padding: 13vh 0 0 7.3vw;
}

.menu__choice {
  font-weight: 700;
  font-size: 5.6vh;
  line-height: 6vh;
  margin: 0;
  letter-spacing: 0.01em;
}

.menu__text {
  font-weight: 400;
  font-size: 1.9vh;
  margin-top: 8px;
}

.menu__text span {
  font-weight: 700;
}

.menu__level-list {
  cursor: pointer;
  font-weight: 700;
  font-size: 5vh;
  letter-spacing: 0.01em;
  line-height: 5.9vh;
  list-style: none;
  margin: 6vh 0 0 0;
  padding: 0;
}

.menu__level-list li {
  margin-bottom: 2.3vh;
  padding-left: 3.2vw;
  position: relative;
}

.menu__level-list li:hover {
  color: #d62b2e;
}

.game-start {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  height: 40vh;
}

.start__button {
  cursor: pointer;
  width: 24.3vw;
  background-color: #d62b2e;
  border-radius: 7px;
  border-width: 0;
  color: #fff;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 700;
  font-size: 3vh;
  height: 10vh;
  margin-top: 8vh;
}

.start__cards {
  display: flex;
  width: 38vw;
  position: relative;
}

.card-one,
.card-two {
  background: url(images/cardback.png) center center no-repeat;
  background-size: contain;
  height: calc(341 / 1024 * 100%);
  width: calc(218 / 1440 * 100%);
  position: absolute;
}

.card-one {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  transform: rotate(11.9deg);
  bottom: 15vh;
  right: 23vw;
}

.card-two {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-2px 0 1px rgba(0, 0, 0, 0.3));
  transform: rotate(39.26deg);
  bottom: 13vh;
  right: 10.7vw;
}

.active {
  color: #d62b2e;
}

.active::before {
  background-size: contain;
  content: url(images/marker.png);
  left: 0;
  position: absolute;
}

.card-container {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 24px;
  min-height: 70vh;
  width: 51.7vw;
  margin: auto;
  padding: 15vh 0;
  max-width: 1440px;
  flex-wrap: wrap;
  perspective: 1000px;
}

.container-ten {
  width: 90vw;
}

.playing-card {
  background: url(images/cardback.png) center center no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 33vh;
  width: 15vw;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.hover-three:hover {
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  transform: rotate(-3.08deg) translateY(-26px);
}

.hover-many:hover {
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  transform: rotate(0deg) translateY(-22px);
}

.playing-card.flip {
  transform: rotateY(180deg) scale(-1, 1);
  background: url(images/gameover.png) center no-repeat;
  background-size: contain;
}

.playing-card.bugFlip {
  transform: rotateY(180deg) scale(-1, 1);
  background: url(images/bugcard.png) center no-repeat;
  background-size: contain;
}

@media (max-width: 992px) {
  .card-container {
    width: 73vw;
  }

  .container-ten {
    width: 90vw;
    align-items: flex-start;
  }

  .playing-card {
    height: 22vh;
    width: 20vw;
  }

  .card-one {
    bottom: 8vh;
    right: 22vw;
  }

  .card-two {
    bottom: 6vh;
    right: 14vw;
  }

  .start__button {
    width: 37.3vw;
  }
}

@media (max-width: 767px) {
  .menu {
    padding: 10vh 7.3vw 0 7.3vw;
  }

  .active::before {
    left: -17px;
  }

  .card-container {
    min-height: 88vh;
    padding-top: 7vh;
  }

  .container-three {
    flex-direction: column;
  }

  .container-six {
    min-height: 50vh;
    padding-top: 19vh;
  }

  .playing-card {
    height: 18vh;
    width: 22vw;
  }
}

@media (aspect-ratio: 3/4) {
  .container-six {
    min-height: 50vh;
    padding-top: 23vh;
  }

  .playing-card {
    height: 24vh;
    width: 19vw;
  }
}

@media (max-aspect-ratio: 1/2) {
  .start__button {
    margin-top: 4vh;
  }
}

@media (min-aspect-ratio: 2/1) {
  .card-two {
    right: 16.7vw;
  }
}

